<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVE7bqawAZE68Nm67pqrLALhb9Wtm4EaE</string>
	<key>GCM_SENDER_ID</key>
	<string>532495532919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arDroneFlutter</string>
	<key>PROJECT_ID</key>
	<string>ar-drone-flutter-18260</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-drone-flutter-18260.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532495532919:ios:8b8e3580a8faf991415772</string>
</dict>
</plist>